*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5F5F5;
}

h1{
    margin-top: 50px;
}

#cat_list{
    background-color: #F5F5F5;
    margin: 50px 0px 50px 10%;
    height: 42px;
    width: 200px;
    outline: none;
    padding: 7px;
    border: 1px solid #C3C3C3;
}

.photo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: 30px 10%;
}

.pink{
    color: #FE5C75;
    margin: 5px 0;
}

.black{
    color: #000;
    margin: 1px;
    line-height: 22px;
}

.gray{
    color: #676767;
    margin: 1px;
    line-height: 22px
}
/* img{
    width: 100%;
} */

.divname>img{
    width: 100%;
}
.read{
    margin-top: 10px;
    border-bottom: 2px solid #ffa9b6;
    color: #333;
}