#small_container {
    margin: auto;
    width: 70%;
    display: grid;
    justify-content: space-between;
    gap: 10px;
    grid-template-columns: repeat(3, 300px);
    margin-bottom: 20px;;
}

#small_card {
    position: relative;
    border: 1px solid #efefef;
    padding: 15px 20px;
    box-shadow: 0 2px 6px rgb(167 167 167 / 22%);
    background: #fff;
    z-index: 999;
    min-height: 180px;
}

#small_card>a {
    color: red;
    text-decoration: none;
}

#upper_container {
    display: flex;
    width: 80%;
    height: 250px;
    margin: auto;
}

#upper_container>img {



    width: 100%;
    height: 300px;
}

#upper_container_text {
    font-size: large;
    margin-left: 100px;
    margin-top: 50px;
    position: absolute;
    width: 400px;
}

#upper_container_text>p {
    line-height: 25px;

}

#main {
    display: flex;
    flex-direction: column;
}
#small_card > p {
    
justify-content: space-evenly;    }