*{
    margin: 0%;
    padding: 0%;
}

/* navbar css start */
#navbar{
    text-align: center;
    padding: 0.5% 0% 1% 0%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#navbar img{
    height: 40px;
}

#navbar img:hover{
    cursor: pointer;
}
/* navbar css ends */


/* heading css start */
#heading{
    width: 82%;
    margin: auto;
    padding: 30px 0px 20px 0px;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    
}
.bellpera{
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 150px;
}

#heading h3{
    font-size: 24px;
}

#heading p{
    font-size: 20px;
    margin-top: 15px;
}
/* heading css ends */


/* table css starts */
#table-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 82%;
    height: auto;
    margin: auto;
    font-family: "Poppins", sans-serif;
}

#table-container > div{
    border: 1px solid;
    border:2px solid rgb(216, 213, 213);
}

#table-container > div img{
    width: 100%;
    height: 187px;
}
.heading4{
    padding: 10px 5px 10px 5px;;
}
.subscribe{
    width: 81%;
    height: 45px;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background-color: #ff5a78;
    border: none;
}

/* table css ends */
#listpera{
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Poppins',sans-serif;
}
#bottom_contain{
    width: 78%;
    margin: auto;
}
/* .marker{
    margin-left: 5%;
} */
.list-no{
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    padding: 7px 0 7px 7px;
    margin-left: 2%;
}
.backarticle{
    font-size: 20px;
    padding: 20px 0 20px 0;
    font-family: 'Poppins',sans-serif;
}
.none{
    text-decoration: none;
    color: #337ab7;
}

#table-container > div button{
    margin-left: 20px;
    margin-bottom: 20px;
}