body{
    padding: 0px;
    margin: 0px;
}

#page_header{
    width: 90%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 2%;
    font-family:'Poppins',sans-serif;
}
.navbar-brand {
    display: inline-block;
    padding-top: 5%;
    padding-bottom: 5%;
}
img{
    height: 90%;
    width: 90%;
}
.space{
    margin-left: 20px;
}
.account_option{
    display: flex;
    align-items: center;
}

.account_option a{
    text-decoration: none;
    font-weight: 600;
}

.account_option a:nth-child(1){
    color: #333333;
}

.button_option{
    padding: 10px 25px;
    background: #fe5c75;
    color: #fff;
    font: 16px/22px Poppins;
    letter-spacing: .19px;
    font-family:'Poppins',sans-serif;
}
input{
    width: 70%;
    border: 1px solid #d3d3d3;
    opacity: .4;
    outline: 0;
    padding-left: 5%;
    height: 40px;
    background: #fafafa;
    font-size: 14px/40px Poppins Medium;
}
#main_cont{
    background-color: rgb(250,250,250);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}
#main_pages{
    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin: auto;
    width: 78%;
}
#main_pages>div{
    margin-right: 3%;
    padding: 10px 0 10px 0;
    font-family: 'Poppins',sans-serif;
    
}

.pages_link{
    text-decoration: none;
    color: black;
}
.pages_link{
    color: black;
}
.pages_link:hover{
    color: #fe5c75;
    /* border-bottom: 3px solid #fe5c75;
    padding-bottom: 12%; */
}
@media only screen and (min-width: 0px) and (max-width: 391px) {
    #page_header{
        font-family:'Poppins',sans-serif;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        background-color: rgb(250,250,250);
    }
    .navbar-brand {
        display: inline-block;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: auto;
        align-items: center;
    }
    img{
        height: 100%;
        width: 100%;
    }
    input{
        width: 70%;
        padding-right: 10px;
        font-size: 10px;
        margin: auto;
        margin-left: 12%;

    }
    .account_option{
        padding-left: 20%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
}