*{
    margin: 0;
    padding: 0;
}

body{
    margin: 50px 50px;
}

.top>ul{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    list-style-type: none;
}
.top>ul>li{
    border: 2px solid slategrey;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 15px;
    height: 44px;
    padding-top: 22px;
}

.middle>ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style-type: none;
}

.middle>ul>li{
    /* border: 1px solid greenyellow; */
    margin-top: 30px;
}