<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/brands.css">
</head>

<body>
    
    <div id="all">
    <div id="allchild">

    <div id="buttons">
        <button id="A">A</button>
        <div> <button id="B">B</button>
        </div>
        <div> <button id="C">C</button>
        </div>
        <div> <button id="D">D</button>
        </div>
        <div> <button id="E">E</button>
        </div>
        <div> <button id="E">E</button>
        </div>
        <div> <button id="F">F</button>
        </div>
        <div> <button id="G">G</button>
        </div>
        <div> <button id="H">H</button>
        </div>
        <div> <button id="I">I</button>
        </div>
        <div> <button id="J">J</button>
        </div>
        <div> <button id="K">K</button>
        </div>
        <div> <button id="L">L</button>
        </div>
        <div> <button id="M">M</button>
        </div>
        <div> <button id="N">N</button>
        </div>
        <div> <button id="O">O</button>
        </div>
        <div> <button id="P">P</button>
        </div>
        <div> <button id="Q">Q</button>
        </div>
        <div> <button id="R">R</button>
        </div>
        <div> <button id="S">S</button>
        </div>
        <div> <button id="T">T</button>
        </div>
        <div> <button id="U">U</button>
        </div>
        <div> <button id="V">V</button>
        </div>
        <div> <button id="W">W</button>
        </div>
        <div> <button id="X">X</button>
        </div>
        <div> <button id="Y">Y</button>
        </div>
        <div> <button id="Z">Z</button>
        </div>
        <div> <button id="#">#</button>
        </div>
        <div> <button id="viewall">view all brands</button> </div>
   

        
    </div>

     </div>
     <div id="container"></div>
    </div>
</body>

<script src="../script/brands.js">
</script>

</html>