#banner{
    height: auto;
    width: 100%;
}
#banner_img_text{
    width: 100%;
    height: auto;
    margin-top: 4%;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 28px/25px ; 
    font-weight: 400; 
}
.banner-text-large{
    font-size: 28px;
    margin-top: 1%;
    margin-bottom: 0px;
}
.banner_img{
    width: 257px;
    height: 70px;
}
.banner-text-small{
    margin-top: 4px;
}
.search_value{
    width: 27%;
    line-height: 48px;
    border-radius: 24px;
    background-color: #d8d8d8;
    border-color: transparent;
    outline: 0;
    padding: 0 3rem;
    font-size: 14px;
}
.finder-link{
    display: block;
    padding-top: 5px;
    margin-left: 25%;
    font-size: 14px;
    
}
.loader-link{
    color: #fe5c75;
    text-decoration: none;
    
}
#list_items{
    width: 78%;
    margin: auto;
    padding-top: 2%;
}
.benefits_title,.catagories_title,.brands_title,.products_title{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    padding-top: 20px;
    width: 70%;
}
#benefits_types, #categories_list, #brands_list,#product_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#benefits_types>div,#categories_list>div {
    font-family: 'Poppins',sans-serif;
    padding-top: 0px;
}
.benefits_image,.categories_image{
    border: 1px solid #d8d8d8;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    width: 43px;
    height: 45px;
}
.benefits_image:hover{
    border-color: #fe5c75;
}

.name_item{
    margin-top: 2px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
}
.productName{
   font-size: 14px;
   width: 100%;
}
.brands_div{
    border: 1px solid #d8d8d8;
    width: 10%;
    height: auto;
    border-radius: 4px;
}
.p1name,.p2name{
    margin: 0px;
    font-family: 'Poppins',sans-serif;
    font-size: 12px
}
.brands_image{
    width: 90%;
    height: 60%;
    cursor: pointer;
}
.products_div{
    width: 12%;
    height: auto;
    border: 1px solid #d8d8d8;
    word-wrap: break-word;
    padding: 5px;
    border-radius: 4px;
    font-family:'Poppins',sans-serif;
    text-align: left;
}
.product_image{
    height: 10%;
    width: 100%;
}
#first{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 0%;
    font-size: 14px;
}

.ratingClass{
    background-color: #fe5c75;
    color: white;
    padding: 2px 3px 2px 5px;
    font-size: 90%;
    border-radius: 4px;
    margin-bottom: 0px;
    width: 30%;
    margin-right: 0px;
    
}
.brandsName{
    text-align: left;
    font-size: 14px;
    color: #fe5c75;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}
#first>div{
    margin-top: 0px;
    width: 100%;
}
.reviewsClass{
    font-size: 80%;
    text-align: left;
    padding-right: 0px;
    margin-bottom: 0px;
    width: 100%;
}
.look>img{
    height: 10px;
    width: 10px;
}
.look{
    font-size: 14px;
    color: #fe5c75;
    font-family: 'Poppins',sans-serif;
    text-align: right;
    padding-right: 20px;
    padding-top: 25px;
}
#looknew{
    display: flex;
    justify-content: space-evenly;
    
}
