<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/ibm.css">
    <link rel="stylesheet" href ="/shubham/style/footer.css">

</head>


<body>
   
    <div id="container">
        <div id="entry">
            <iframe id="sc-ideal_body_weight_cal" width=" 500" height="555" allowtransparency="true" src="https://www.stylecraze.com/tools/ideal-body-weight-calculator/?embed_id=1" frameborder="0" allowfullscreen=""></iframe> 
                    
        </div>
        <div id="second_container">
            <div>
                <h2>
                    What is the ideal weight?
                </h2>
                <p>
                    The ideal body weight is the optimal weight as per the height, age, and gender of a person. If the
                    weight of a person is more than that specified for a height, the individual is at risk of obesity,
                    cardiovascular disease, diabetes, cholelithiasis, osteoporosis, and infertility (1).
                </p>
            </div>
            <div>
                <h2>
                    How Much Should I Weigh For My Height And Age And Gender?
                </h2>
                <p>
                    As per the National Institutes of Health, following is the ideal body weight chart based on the
                    height of an individual (2). </p>

                <table>
                    <thead>
                        <tr>
                            <th>
                                Height
                            </th>
                            <th>
                                weight
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td></td>
                            <td>Normal</td>
                            <td>Overweight</td>
                            <td>Obesity</td>
                            <td> Severe obesity </td>
                        </tr>
                        <tr>
                            <td>4ft 10"(58")</td>
                            <td>91 to 115 lbs.</td>
                            <td>119 to 138 lbs.</td>
                            <td>143 to 186 lbs.</td>
                            <td>191 to 258 lbs.</td>
                        </tr>
                        <tr>
                            <td>4ft 11"(59")</td>
                            <td>94 to 119 lbs.</td>
                            <td>94 to 119 lbs.</td>
                            <td>148 to 193 lbs.</td>
                            <td>198 to 267 lbs.</td>
                        </tr>
                        <tr>
                            <td>5ft(60")</td>
                            <td>97 to 123 lbs.</td>
                            <td>128 to 148 lbs.</td>
                            <td>153 to 199 lbs.</td>
                            <td>204 to 276 lbs.</td>
                        </tr>
                        <tr>
                            <td>5ft 1"(61")</td>
                            <td>100 to 127 lbs.</td>
                            <td>132 to 153 lbs.</td>
                            <td>158 to 206 lbs.</td>
                            <td>211 to 285 lbs.</td>
                        </tr>
                        <tr>
                            <td>5ft 1"(61")</td>
                            <td>100 to 127 lbs.</td>
                            <td>132 to 153 lbs.</td>
                            <td>158 to 206 lbs.</td>
                            <td>211 to 285 lbs.</td>
                        </tr>
                        <tr>
                            <td>5ft 2"(62")</td>
                            <td>104 to 131 lbs.</td>
                            <td>136 to 158 lbs.</td>
                            <td>164 to 213 lbs.</td>
                            <td>218 to 295 lbs.</td>
                        </tr>
                        <tr>
                            <td>5ft 3"(63")</td>
                            <td>107 to 135 lbs.</td>
                            <td>141 to 163 lbs.</td>
                            <td>169 to 220 lbs.</td>
                            <td>225 to 304 lbs.</td>
                        </tr>
                        <tr>
                            <td>5ft 4"(64")</td>
                            <td>110 to 140 lbs.</td>
                            <td>145 to 169 lbs.</td>
                            <td>174 to 227 lbs.</td>
                            <td>232 to 314 lbs.</td>
                        </tr>
                        <tr>
                            <td>5ft 4"(64")</td>
                            <td>110 to 140 lbs.</td>
                            <td>145 to 169 lbs.</td>
                            <td>174 to 227 lbs.</td>
                            <td>232 to 314 lbs.</td>
                        </tr>
                        <tr>
                            <td>5ft 5"(65")</td>
                            <td>114 to 144 lbs.</td>
                            <td>150 to 174 lbs.</td>
                            <td>180 to 234 lbs.</td>
                            <td>240 to 324 lbs.</td>
                        </tr>
                        <tr>
                            <td>5ft 6"(66")</td>
                            <td>118 to 148 lbs.</td>
                            <td>155 to 179 lbs.</td>
                            <td>186 to 241 lbs.</td>
                            <td>247 to 334 lbs.</td>
                        </tr>
                        <tr>
                            <td>5ft 7"(67")</td>
                            <td>121 to 153 lbs.</td>
                            <td>159 to 185 lbs.</td>
                            <td>191 to 249 lbs.</td>
                            <td>255 to 344 lbs.</td>
                        </tr>
                        <tr>
                            <td>5ft 8"(68")</td>
                            <td>125 to 158 lbs.</td>
                            <td>164 to 190 lbs.</td>
                            <td>197 to 256 lbs.</td>
                            <td>262 to 354 lbs.</td>
                        </tr>

                        <tr>
                            <td>5ft 9"(69")</td>
                            <td>128 to 162 lbs.</td>
                            <td>169 to 196 lbs.</td>
                            <td>203 to 263 lbs.</td>
                            <td>270 to 365 lbs.</td>
                        </tr>
                        <tr>
                            <td>5ft 10"(70")</td>
                            <td>132 to 167 lbs.</td>
                            <td>174 to 202 lbs.</td>
                            <td>209 to 271 lbs.</td>
                            <td>278 to 376 lbs.</td>
                        </tr>
                        <tr>
                            <td>5ft 11"(71")</td>
                            <td>136 to 172 lbs.</td>
                            <td>179 to 208 lbs.</td>
                            <td>215 to 279 lbs.</td>
                            <td>286 to 386 lbs.</td>
                        </tr>
                        <tr>
                            <td>6ft(72")</td>
                            <td>140 to 177 lbs.</td>
                            <td>184 to 213 lbs.</td>
                            <td>221 to 287 lbs.</td>
                            <td>294 to 397 lbs.</td>
                        </tr>
                        <tr>
                            <td>6ft 1"(73")</td>
                            <td>144 to 182 lbs.</td>
                            <td>189 to 219 lbs.</td>
                            <td>227 to 295 lbs.</td>
                            <td>302 to 408 lbs.</td>
                        </tr>
                        <tr>
                            <td>6ft 2"(74")</td>
                            <td>148 to 186 lbs.</td>
                            <td>194 to 225 lbs.</td>
                            <td>233 to 303 lbs.</td>
                            <td>311 to 420 lbs.</td>
                        </tr>
                        <tr>
                            <td>6ft 3"(75")</td>
                            <td>152 to 192 lbs.</td>
                            <td>200 to 232 lbs.</td>
                            <td>240 to 311 lbs.</td>
                            <td>319 to 431 lbs.</td>
                        </tr>
                        <tr>
                            <td>6ft 4"(76")</td>
                            <td>156 to 197 lbs.</td>
                            <td>205 to 238 lbs.</td>
                            <td>246 to 320 lbs.</td>
                            <td>328 to 443 lbs.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h2>Formulas For Finding The Ideal Weight</h2>
                <p>There are multiple formulae to get the ideal body weight. The Devine formula is the most popular and
                    was formulated both for men and women (3).</p>

                <b>For Men</b>
                <p> <b>Ideal Body Weight:</b> 50.0 kg + 2.3 kg per inch over 5 feet</p>
                <b>For Women</b>
                <p> <b>Ideal Body Weight:</b> 45.5 kg + 2.3 kg per inch over 5 feet</p>
                <h2>
                    How To Maintain An Ideal Weight
                </h2>
                <p>
                    To maintain an ideal body weight, one should opt for a holistic approach. A healthy diet, exercise,
                    and stress management are the common areas where people need to focus on to stay fit and healthy.
                </p>
                <h2>
                    Healthy Diet
                </h2>
                <p>
                    A healthy diet does not mean eating only soups and salads. Speak to a nutritionist to get a
                    customized diet plan as per your body type.
                </p>
                <ul>
                    <li>Choose whole grains over refined and semi-polished grains.</li>
                    <li>Cardiovascular disorders</li>
                    <li>Choose high-quality proteins for every meal. If you are a vegetarian, combine pulses and cereal
                        protein to get all the essential amino acids.</li>
                    <li>Include good-quality fat like nuts and seeds, nut butter, and clarified butter in your diet to
                        enhance the taste of dishes and reap health benefits.</li>
                    <li>Include 3-4 servings of vegetables and 1-2 servings of whole fruits.</li>
                </ul>
            </div>
            <div>
                <h2>
                    Lifestyle Management
                </h2>
                <p>Practice meditation, sleep well, and adopt healthy habits to make changes in your lifestyle.</p>
                <h2>Limitations Of Ideal Body Weight</h2>
                <ul>
                    <li>The body weight calculator is limited to specific ages and heights. It is not applicable for
                        sportspersons, athletes, and differently-abled people.</li>
                    <li>
                        This calculator does not predict body fat and muscle mass percentage. It states the entire
                        weight of the body.
                    </li>
                </ul>
            </div>
            <div>
                <h2>
                    Sources
                </h2>
                <ol>
                    <li>What is the Ideal Body Weight? Public Health Journal, Oxford Academic.
                        <a href="https://academic.oup.com/fampra/article/17/4/348/445929 ">https://academic.oup.com/fampra/article/17/4/348/445929
                        </a>
                    </li>
                    <li>
                        Body Mass Index Table, National Institutes of Health.

                        <a href="https://www.nhlbi.nih.gov/health/educational/lose_wt/BMI/bmi_tbl.pdf ">
                            https://www.nhlbi.nih.gov/health/educational/lose_wt/BMI/bmi_tbl.pdf
                        </a>
                    </li>
                    <li>
                        Universal equation for estimating ideal body weight and body weight at any BMI, The American
                        Journal of Clinical Nutrition, U.S. National Library of Medicine, National Institutes of Health.
                        <a
                            href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4841935/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4841935/</a>
                    </li>
                </ol>
            </div>
            <div>

            </div>
        </div>
    </div>
    <div id="belowfooter"></div>
</body>
<script type="module">
import footer from "/shubham/script/footer.js"
console.log(footer)

    let belowfooter= document.getElementById("belowfooter");
    belowfooter.innerHTML=footer()
</script>

</html>