<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="/shubham/style/footer.css">

    <title>Document</title>
<link rel="stylesheet" href="../style/loveCalculator.css"/>
</head>
<body>
    <div id="container">
        <iframe id=sc-love_cal width=" 500" height=420 allowtransparency=true src="https://www.stylecraze.com/tools/love-compatibility-calculator/?embed_id=1" frameborder=0 allowfullscreen></iframe> 
        <p>Being in love is a wonderful feeling. Whether you are dating someone or have a secret crush, a love calculator helps to know if you are on the right path – if you both are compatible – to take your love a step forward. To clear the fog of doubt, use the following simple and accurate love calculator.</p>			
    
    </div>
    <div id="belowfooter"></div>
</body>
<script type="module">
import footer from "/shubham/script/footer.js"
console.log(footer)

    let belowfooter= document.getElementById("belowfooter");
    belowfooter.innerHTML=footer()
</script>
</html>